:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  --neutral-darkest-blue: hsl(217, 54%, 11%);
  --neutral-blue: hsl(216, 50%, 16%);
  --neutral-desat-blue: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);

  --weight-light: 300;
  --weight-medium: 400;
  --weight-heavy: 600;
}
