:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  --neutral-darkest-blue: hsl(217, 54%, 11%);
  --neutral-blue: hsl(216, 50%, 16%);
  --neutral-desat-blue: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);

  --weight-light: 300;
  --weight-medium: 400;
  --weight-heavy: 600;

  --neutral-deep-blue: hsl(214, 56%, 10%);
}

body {
  min-height: 100vh;
  font-size: 18px;
  font-weight: var(--weight-light);

  background-color: var(--neutral-darkest-blue);
  color: var(--primary-soft-blue);
  font-family: "Outfit", sans-serif;

  display: grid;
  place-items: center;
}

.crypto-card {
  background-color: var(--neutral-blue);

  margin: 1.5rem;
  padding: 1.4rem;
  max-width: 331px;
  border-radius: 1rem;

  box-shadow: 0px 20px 0px 10px var(--neutral-deep-blue);
}

.card__content {
  display: grid;
  gap: 1rem;
}

.content__crypto-image {
  border-radius: 0.5rem;
}
.image-overlay {
  position: relative;
}
.overlay__square {
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  border-radius: 0.5rem;

  position: absolute;
  top: 0;

  opacity: 0;
}
.overlay__square::before {
  content: url(images/icon-view.svg);
  position: absolute;
  top: 42%;
  left: 42%;
}

.overlay__square:hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.profile__picture {
  border: 1px solid white;
  border-radius: 50%;

  margin-right: 1rem;

  width: 2rem;
  height: 2rem;
}

.content__header {
  color: white;
  font-weight: var(--weight-heavy);
  font-size: 1.5rem;
}

.content__values {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--neutral-desat-blue);
}

.values__crypto {
  color: var(--primary-cyan);
  font-weight: var(--weight-medium);
}
.values__crypto::before {
  content: url(images/icon-ethereum.svg);
  margin-right: 0.5rem;
  position: relative;
  top: 0.25rem;
}

.values__time::before {
  content: url(images/icon-clock.svg);
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}
.content__profile {
  display: flex;
  font-size: 1rem;
}
.profile__username {
  color: var(--neutral-white);
}
.profile__username:hover,
.content__header:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}
